@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

:root {
  --primary-color: #232931;
  --secondary-color: #24262b;
  --accent-color: #63f5aa;
  --unfocus-color: #7c7f86;
  --border-color: #2d2e32;
  --text-color: #eeeeee;
  --title: 2.4em;
  --sub-title: 1.5em;
  --content-title: 1.1em;
  --content-sub-title: 2em;
  --text: 1.1em;
  --sub-text: 1.05em;
}

/* Font size classes */
.title-fs {
  font-size: var(--title);
}

.sub-title-fs {
  font-size: var(--sub-title);
}

.content-title-fs {
  font-size: var(--content-title);
}

.text-fs {
  font-size: var(--text);
}

.sub-text-fs {
  font-size: var(--sub-text);
}

/* ICONS */

.hover-icon {
  color: var(--accent-color);
  font-size: 30px;
}

.hover-icon:hover {
  color: var(--text-color);
}

/* TEXT */

.text {
  color: var(--text-color);
}

.title-color {
  color: var(--accent-color);
}

/* General clases */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Mono", monospace;
}

body {
  background-color: var(--primary-color);
}

h4 {
  margin: 0;
}

.secction-container {
  margin-left: 35px;
  margin-right: 35px;
}

.secction-header {
  padding-top: 4em;
  padding-bottom: 4em;
}

/* NAVBAR */
nav {
  background-color: var(--primary-color);
  min-height: 8vh;
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  position: relative;
  margin-left: 35px;
  margin-right: 35px;
}

.logo {
  color: var(--accent-color);
}

.nav-links {
  display: flex !important;
  justify-content: space-between !important;
}

.nav-links li {
  list-style: none;
  margin-left: 40px;
}

.nav-links a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

ul {
  margin: 0;
  padding-left: 0;
}

.burger div {
  margin: 5px;
  transition: all 0.2s ease;
}

.burger .line1 {
  width: 25px;
  height: 3px;
  background-color: var(--accent-color);
  margin-left: auto;
}

.burger .line2 {
  width: 20px;
  height: 3px;
  background-color: var(--accent-color);
  margin-left: auto;
}

.burger .line3 {
  width: 15px;
  height: 3px;
  background-color: var(--accent-color);
  margin-left: auto;
}

.burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* body {
    overflow-x: hidden !important;
  } */

  .nav-links {
    position: absolute;
    right: 0;
    width: 65%;
    height: 92vh;
    top: 8vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center !important ;
    transform: translateX(135%);
    transition: transform 0.2s ease-in;
  }

  .nav-links li {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  width: 25px;
  transform: rotate(45deg) translate(-5px, -6px);
}

/* HERO */

#hero {
  height: 92vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whoami {
  margin-bottom: 50px;
}

.intro {
  margin-bottom: 50px;
}

.circle {
  height: 60px;
  width: 60px;
  background-color: var(--secondary-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.contact-row {
  display: flex;
  justify-items: start;
  align-items: center;
  margin-bottom: 20px;
}

#contact2 {
  display: none;
}

.hero-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle-img {
  max-width: 80%;
  height: auto;
}
@media screen and (max-width: 767px) {
  #contact1 {
    display: none;
  }

  #contact2 {
    display: initial;
    margin-left: auto;
    margin-right: auto;
  }

  #hero {
    height: auto;
  }
}

/* About */
#about {
  background-color: var(--secondary-color);
  height: 100vh;
}

@media screen and (max-width: 767px) {
  #about {
    height: auto;
    padding-bottom: 5rem;
  }
}

/* Experience */

#experience {
  background-color: var(--primary-color);
  height: 100vh;
}


.experience-list{
  list-style-type: "$ "; padding-inline-start: 1ch;
}

@media screen and (max-width: 767px) {
  #experience {
    height: auto;
      padding-bottom: 5rem;
  }
}




/* Tabs */

.tabs {
  width: auto;
  height: 400px;
  background: var(--primary-color);
  overflow: hidden;
}

.tabs .tab-header {
  float: left;
  width: 180px;
  height: 100%;
  border-right: 3px solid #eeeeee;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs .tab-header > div {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #888;
  cursor: pointer;
  padding-left: 10px;
}

.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
  color: var(--accent-color);
}

.tabs .tab-header > div.active::before {
  content: ">_ " !important;
}

.tabs .tab-content {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding-left: 50px;
}

.tabs .tab-content > div {
  position: absolute;
  text-align: center;
  padding: 40px 20px;
  top: -200%;
  transition: all 500ms ease-in-out;
}
.tabs .tab-content > div.active {
  top: 0px;
}

@media (max-width: 700px) {
  .tabs {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .tabs .tab-header {
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    height: auto;
    flex-direction: row;
    text-align: center;
  }
  .tabs .tab-header > div {
    width: auto;
  }
  .tabs .tab-indicator {
    display: none;
  }

  .tabs .tab-content {
    padding-left: 0px;
    width: 95%;
  }
}

/* Projects */

#projects {
  background-color: var(--secondary-color);
  height: 100vh;
}

.card {
  border-radius: 23px;
  background-color: var(--primary-color);
  border: none;
  padding: 1rem;
}

.card-title {
  color: var(--accent-color);
}
