@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

:root {
  --primary: #232931;
  --secondary: #24262b;
  --accent: #63f5aa;
  --unfocus: #7c7f86;
  --border: #2d2e32;
  --text: #eeeeee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  overflow-x: hidden;
}

h4 {
  margin: 0;
}

section {
  margin-left: 35px;
  margin-right: 35px;
}

/* NAVBAR */
nav {
  background-color: var(--primary);
}

nav {
  min-height: 8vh;
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  position: relative;
  margin-left: 35px;
  margin-right: 35px;
}

.logo {
  color: var(--accent);
  font-family: "Fira Mono", monospace;
}

.nav-links {
  display: flex !important;
  justify-content: space-between !important;
}

.nav-links li {
  list-style: none;
  margin-left: 40px;
}

.nav-links a {
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
  font-family: "Fira Mono", monospace;
}

ul {
  margin: 0;
  padding-left: 0;
}

.burger div {
  margin: 5px;
  transition: all 0.2s ease;
}

.burger .line1 {
  width: 25px;
  height: 3px;
  background-color: var(--accent);
  margin-left: auto;
}

.burger .line2 {
  width: 20px;
  height: 3px;
  background-color: var(--accent);
  margin-left: auto;
}

.burger .line3 {
  width: 15px;
  height: 3px;
  background-color: var(--accent);
  margin-left: auto;
}

.burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* body {
    overflow-x: hidden !important;
  } */

  .nav-links {
    position: absolute;
    right: 0;
    width: 65%;
    height: 92vh;
    top: 8vh;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center !important ;
    transform: translateX(135%);
    transition: transform 0.2s ease-in;
  }

  .nav-links li {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  width: 25px;
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ICONS */

.hover-icon {
  color: var(--accent);
  font-size: 30px;
}

.hover-icon:hover {
  color: var(--text);
}

/* TEXT */

.text {
  color: var(--text);
}

.fira {
  font-family: "Fira Mono", monospace !important;
}

/* HERO */

#hero {
  /* height: 90vh; */
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whoami {
  margin-bottom: 50px;
  font-size: 50px;
}

.intro {
  margin-bottom: 50px;
}

.circle {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
  background-color: var(--secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.contact-row {
  display: flex;
  justify-items: start;
  align-items: baseline;
}

#contact2 {
  display: none;
}

.hero-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle-img {
  max-width: 80%;
  height: auto;
}
@media screen and (max-width: 767px) {
  #contact1 {
    display: none;
  }
  #contact2 {
    display: initial;
  }
}
